Repository tier4/AWML, changes with the owners that .github/CODEOWNERS names for each.
All owners: satoshi.tanaka@tier4.jp, koji.minoda@tier4.jp, amadeusz.szymko.2@tier4.jp, samrat.thapa@tier4.jp, kenzo.lobos@tier4.jp

fix(TransFusion): use ghcr docker image (#186)
  projects/TransFusion/Dockerfile
Owners: amadeusz.szymko.2@tier4.jp, satoshi.tanaka@tier4.jp

feat(tools): color lidar pointcloud based on height in rerun (#190)
  tools/rerun_visualization/visualize_3d.py
Owners: satoshi.tanaka@tier4.jp

feat(tools): visualize score in rerun (#189)
  tools/rerun_visualization/visualize_3d.py
Owners: satoshi.tanaka@tier4.jp

fix(docs): explicitly introduce download_t4dataset script (#184)
  tools/setting_environment/README.md
Owners: satoshi.tanaka@tier4.jp

fix(FRNet): deployment imports (#187)
  projects/FRNet/configs/deploy/frnet_tensorrt_dynamic.py
  projects/FRNet/deploy/main.py
  projects/FRNet/deploy/onnx_model.py
  projects/FRNet/deploy/preprocessing.py
  projects/FRNet/deploy/torch_model.py
  projects/FRNet/deploy/trt_model.py
  projects/FRNet/deploy/utils.py
Owners: amadeusz.szymko.2@tier4.jp

chore(BEVFusion): Add checkpoint path to the bevfusion offline model doc (#192)
  projects/BEVFusion/docs/deployed_model.md
Owners: satoshi.tanaka@tier4.jp

chore(docs): update next release note (#194)
  docs/operation/release_note.md
Owners: satoshi.tanaka@tier4.jp

chore(docs): update docs for 2D detection (#199)
  projects/YOLOX/README.md
  projects/YOLOX_opt/README.md
  tools/detection2d/README.md
  tools/detection3d/README.md
  tools/setting_environment/README.md
Owners: satoshi.tanaka@tier4.jp, samrat.thapa@tier4.jp

chore(docs): update docs for traffic light recognition (#200)
  autoware_ml/configs/detection2d/dataset/t4dataset/tlr_v0_1.yaml
  autoware_ml/configs/detection2d/dataset/t4dataset/tlr_v1_0_x2.yaml
  autoware_ml/configs/detection2d/dataset/t4dataset/tlr_v1_0_xx1.yaml
  autoware_ml/configs/detection2d/dataset/t4dataset/tlr_v1_2.yaml
  pipelines/webauto/download_t4dataset/README.md
  projects/BEVFusion/README.md
  projects/BEVFusion/bevfusion/loading.py
  projects/TransFusion/README.md
  tools/detection2d/README.md
  tools/detection3d/README.md
Owners: satoshi.tanaka@tier4.jp, amadeusz.szymko.2@tier4.jp

.github/CODEOWNERS:

/.github/ satoshi.tanaka@tier4.jp
/.github/workflows koji.minoda@tier4.jp
/.vscode/ satoshi.tanaka@tier4.jp
/autoware_ml/ satoshi.tanaka@tier4.jp
/docs/ satoshi.tanaka@tier4.jp
/pipelines/deploy_detection3d/ satoshi.tanaka@tier4.jp
/pipelines/project_adaptation/ satoshi.tanaka@tier4.jp
/pipelines/test_integration/ satoshi.tanaka@tier4.jp
/pipelines/update_t4dataset/ satoshi.tanaka@tier4.jp
/projects/BEVFusion/ satoshi.tanaka@tier4.jp
/projects/BLIP-2/ satoshi.tanaka@tier4.jp
/projects/EfficientNet/ satoshi.tanaka@tier4.jp
/projects/FRNet/ amadeusz.szymko.2@tier4.jp
/projects/GLIP/ samrat.thapa@tier4.jp satoshi.tanaka@tier4.jp
/projects/SegmentAnything/ satoshi.tanaka@tier4.jp
/projects/SparseConvolution/ kenzo.lobos@tier4.jp
/projects/SwinTransformer/ satoshi.tanaka@tier4.jp
/projects/TransFusion/ amadeusz.szymko.2@tier4.jp satoshi.tanaka@tier4.jp
/projects/YOLOX/ satoshi.tanaka@tier4.jp
/projects/YOLOX_opt/ samrat.thapa@tier4.jp satoshi.tanaka@tier4.jp
/projects/template/ satoshi.tanaka@tier4.jp
/tools/detection2d/ satoshi.tanaka@tier4.jp
/tools/detection3d/ satoshi.tanaka@tier4.jp
/tools/rerun_visualization satoshi.tanaka@tier4.jp
/tools/scene_selector/ samrat.thapa@tier4.jp satoshi.tanaka@tier4.jp
/tools/segmentation2d/ satoshi.tanaka@tier4.jp
/tools/setting_environment/ satoshi.tanaka@tier4.jp
/tools/t4dataset_pseudo_label/ satoshi.tanaka@tier4.jp
