Repository tier4/AWML, changes with the owners that .github/CODEOWNERS names for each.
All owners: amadeusz.szymko.2@tier4.jp, satoshi.tanaka@tier4.jp, koji.minoda@tier4.jp, kenzo.lobos@tier4.jp, kokseang.tan@tier4.jp, samrat.thapa@tier4.jp

.github/CODEOWNERS:

/.devcontainer/ amadeusz.szymko.2@tier4.jp satoshi.tanaka@tier4.jp
/.github/ satoshi.tanaka@tier4.jp
/.github/workflows koji.minoda@tier4.jp satoshi.tanaka@tier4.jp
/.vscode/ satoshi.tanaka@tier4.jp
/autoware_ml/ satoshi.tanaka@tier4.jp
/docs/ satoshi.tanaka@tier4.jp
/pipelines/deploy_detection3d/ satoshi.tanaka@tier4.jp
/pipelines/project_adaptation/ satoshi.tanaka@tier4.jp
/pipelines/test_integration/ satoshi.tanaka@tier4.jp
/pipelines/update_t4dataset/ satoshi.tanaka@tier4.jp
/pipelines/webauto/ satoshi.tanaka@tier4.jp
/projects/BEVFusion/ kenzo.lobos@tier4.jp
/projects/BLIP-2/ satoshi.tanaka@tier4.jp
/projects/CenterPoint/ kokseang.tan@tier4.jp
/projects/FRNet/ amadeusz.szymko.2@tier4.jp
/projects/GLIP/ samrat.thapa@tier4.jp
/projects/MobileNetv2/ samrat.thapa@tier4.jp
/projects/SegmentAnything/ satoshi.tanaka@tier4.jp
/projects/SparseConvolution/ kenzo.lobos@tier4.jp
/projects/SwinTransformer/ satoshi.tanaka@tier4.jp
/projects/template/ satoshi.tanaka@tier4.jp
/projects/TransFusion/ amadeusz.szymko.2@tier4.jp satoshi.tanaka@tier4.jp
/projects/YOLOX/ satoshi.tanaka@tier4.jp
/projects/YOLOX_opt/ samrat.thapa@tier4.jp satoshi.tanaka@tier4.jp
/tools/analysis_3d/ kokseang.tan@tier4.jp
/tools/auto_labeling_2d/ satoshi.tanaka@tier4.jp
/tools/auto_labeling_3d/ satoshi.tanaka@tier4.jp
/tools/classification2d/ samrat.thapa@tier4.jp
/tools/detection2d/ satoshi.tanaka@tier4.jp
/tools/detection3d/ satoshi.tanaka@tier4.jp
/tools/rerun_visualization satoshi.tanaka@tier4.jp
/tools/scene_selector/ samrat.thapa@tier4.jp satoshi.tanaka@tier4.jp
/tools/segmentation2d/ satoshi.tanaka@tier4.jp
/tools/setting_environment/ satoshi.tanaka@tier4.jp

fix(BEVFusion): add fold for model document (#295)
  projects/BEVFusion/docs/BEVFusion-CL/v0/base.md
  projects/BEVFusion/docs/BEVFusion-L-offline/v0/base.md
  projects/BEVFusion/docs/BEVFusion-L/v0/base.md
Owners: kenzo.lobos@tier4.jp

fix(TransFusion): add fold for model document (#293)
  projects/TransFusion/docs/TransFusion-L-nearby/v0/base.md
  projects/TransFusion/docs/TransFusion-L-offline/v0/base.md
  projects/TransFusion/docs/TransFusion-L/v0/base.md
Owners: amadeusz.szymko.2@tier4.jp, satoshi.tanaka@tier4.jp

fix(FRNet): add fold for model document (#294)
  projects/FRNet/docs/FRNet/v0/base.md
Owners: amadeusz.szymko.2@tier4.jp

fix(pyproject.toml): exclude directories from black formatter (#304)
  pyproject.toml
Owners: none

chore(docs): update dataset document (#305)
  docs/design/architecture_dataset.md
  docs/fig/data_pipeline.drawio.svg
Owners: satoshi.tanaka@tier4.jp

chore(update_t4dataset): update document (#306)
  pipelines/update_t4dataset/README.md
Owners: satoshi.tanaka@tier4.jp

fix(tools/detection3d): apply formatter (#289)
  tools/detection3d/create_data.py
  tools/detection3d/create_data_t4dataset.py
  tools/detection3d/dataset_converters/create_gt_database.py
  tools/detection3d/dataset_converters/indoor_converter.py
  tools/detection3d/dataset_converters/kitti_converter.py
  tools/detection3d/dataset_converters/kitti_data_utils.py
  tools/detection3d/dataset_converters/lyft_converter.py
  tools/detection3d/dataset_converters/lyft_data_fixer.py
  tools/detection3d/dataset_converters/nuimage_converter.py
  tools/detection3d/dataset_converters/nuscenes_converter.py
  tools/detection3d/dataset_converters/s3dis_data_utils.py
  tools/detection3d/dataset_converters/scannet_data_utils.py
  tools/detection3d/dataset_converters/semantickitti_converter.py
  tools/detection3d/dataset_converters/sunrgbd_data_utils.py
  tools/detection3d/dataset_converters/update_infos_to_v2.py
  tools/detection3d/dataset_converters/waymo_converter.py
  tools/detection3d/deploy.py
  tools/detection3d/t4dataset_converters/t4converter.py
  tools/detection3d/t4dataset_converters/update_infos_to_v2.py
  tools/detection3d/test.py
  tools/detection3d/test_all.py
  tools/detection3d/train.py
  tools/detection3d/visualize_bboxes.py
  tools/detection3d/visualize_bev.py
Owners: satoshi.tanaka@tier4.jp

fix(tools/detection2d): apply formatter (#290)
  tools/detection2d/create_data_t4dataset.py
  tools/detection2d/deploy_yolox.py
  tools/detection2d/image_demo.py
  tools/detection2d/test.py
  tools/detection2d/train.py
Owners: satoshi.tanaka@tier4.jp

chore(test_integration): update config (#311)
  pipelines/test_integration/configs/dataset/database_v1_1.yaml
Owners: satoshi.tanaka@tier4.jp

chore(autoware_ml): add dataset version for dataset config (#301)
  autoware_ml/configs/detection3d/dataset/t4dataset/database_v1_0.yaml
  autoware_ml/configs/detection3d/dataset/t4dataset/database_v1_1.yaml
  autoware_ml/configs/detection3d/dataset/t4dataset/database_v1_3.yaml
  autoware_ml/configs/detection3d/dataset/t4dataset/database_v2_0.yaml
  autoware_ml/configs/detection3d/dataset/t4dataset/database_v3_0.yaml
Owners: satoshi.tanaka@tier4.jp

fix(MobileNetv2): apply formatter (#288)
  projects/MobileNetv2/configs/deploy/car_mobilenet-v2-224x224_batch_1.py
  projects/MobileNetv2/configs/deploy/car_mobilenet-v2-224x224_batch_4.py
  projects/MobileNetv2/configs/deploy/car_mobilenet-v2-224x224_batch_6.py
  projects/MobileNetv2/configs/deploy/ped_mobilenet-v2-224x224_batch_1.py
  projects/MobileNetv2/configs/deploy/ped_mobilenet-v2-224x224_batch_4.py
  projects/MobileNetv2/configs/deploy/ped_mobilenet-v2-224x224_batch_6.py
  projects/MobileNetv2/configs/t4dataset/mobilenet-v2_tlr_car_t4dataset.py
  projects/MobileNetv2/configs/t4dataset/mobilenet-v2_tlr_ped_t4dataset.py
  projects/MobileNetv2/mobilenet/__init__.py
  projects/MobileNetv2/mobilenet/datasets/pipelines/transforms.py
  projects/MobileNetv2/mobilenet/datasets/tlr_dataset.py
Owners: samrat.thapa@tier4.jp

fix(YOLOX-opt): apply formatter (#287)
  projects/YOLOX_opt/configs/t4dataset/yolox_s_tlr_416x416_pedcar_t4dataset.py
  projects/YOLOX_opt/yolox/__init__.py
  projects/YOLOX_opt/yolox/datasets/pipelines/transforms.py
  projects/YOLOX_opt/yolox/datasets/tlr_dataset.py
Owners: samrat.thapa@tier4.jp, satoshi.tanaka@tier4.jp

fix(FRNet): apply formatter (#286)
  projects/FRNet/configs/deploy/frnet_tensorrt_dynamic.py
  projects/FRNet/configs/nuscenes/frnet_1xb4_nus-seg.py
  projects/FRNet/configs/nuscenes/model/frnet.py
  projects/FRNet/deploy/main.py
  projects/FRNet/deploy/onnx_model.py
  projects/FRNet/deploy/postprocessing.py
  projects/FRNet/deploy/preprocessing.py
  projects/FRNet/deploy/torch_model.py
  projects/FRNet/deploy/trt_model.py
  projects/FRNet/deploy/visualizer.py
  projects/FRNet/frnet/datasets/__init__.py
  projects/FRNet/frnet/datasets/nuscenes_dataset.py
  projects/FRNet/frnet/datasets/transforms/__init__.py
  projects/FRNet/frnet/datasets/transforms/transforms_3d.py
  projects/FRNet/frnet/models/backbones/__init__.py
  projects/FRNet/frnet/models/backbones/frnet_backbone.py
  projects/FRNet/frnet/models/data_preprocessors/__init__.py
  projects/FRNet/frnet/models/data_preprocessors/data_preprocessor.py
  projects/FRNet/frnet/models/decode_heads/__init__.py
  projects/FRNet/frnet/models/decode_heads/frnet_head.py
  projects/FRNet/frnet/models/decode_heads/frustum_head.py
  projects/FRNet/frnet/models/losses/__init__.py
  projects/FRNet/frnet/models/losses/boundary_loss.py
  projects/FRNet/frnet/models/segmentors/__init__.py
  projects/FRNet/frnet/models/segmentors/frnet.py
  projects/FRNet/frnet/models/voxel_encoders/__init__.py
  projects/FRNet/frnet/models/voxel_encoders/frustum_encoder.py
  projects/FRNet/scripts/create_nuscenes.py
Owners: amadeusz.szymko.2@tier4.jp

fix(TransFusion): apply formatter (#285)
  projects/TransFusion/configs/deploy/transfusion_lidar_tensorrt_dynamic-20x5.py
  projects/TransFusion/configs/nuscenes/transfusion_lidar_pillar02_second_secfpn_1xb8-cyclic-20e_nus-3d.py
  projects/TransFusion/configs/nuscenes/transfusion_lidar_pillar02_second_secfpn_2xb8-cyclic-20e_nus-3d.py
  projects/TransFusion/configs/t4dataset/model/transfusion_lidar_pillar_second_secfpn_1xb1_120m-768grid.py
  projects/TransFusion/configs/t4dataset/model/transfusion_lidar_pillar_second_secfpn_1xb1_50m-512grid.py
  projects/TransFusion/configs/t4dataset/model/transfusion_lidar_pillar_second_secfpn_1xb1_90m-576grid.py
  projects/TransFusion/configs/t4dataset/model/transfusion_lidar_pillar_second_secfpn_1xb1_90m-768grid.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_120m-768grid-t4base.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_120m-768grid-t4xx1.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_50m-512grid-t4xx1.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_90m-576grid-t4xx1.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_90m-768grid-t4base.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_90m-768grid-t4x2.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_90m-768grid-t4xx1.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_t4base.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_t4x2-base.py
  projects/TransFusion/configs/t4dataset/transfusion_lidar_pillar_second_secfpn_1xb1_t4xx1-base.py
  projects/TransFusion/scripts/fix_graph.py
  projects/TransFusion/setup.py
  projects/TransFusion/transfusion/__init__.py
  projects/TransFusion/transfusion/transfusion.py
  projects/TransFusion/transfusion/transfusion_head.py
Owners: amadeusz.szymko.2@tier4.jp, satoshi.tanaka@tier4.jp

feat(pre-commit): add pre-commit (#314)
  .pre-commit-config.yaml
  docs/contribution/contribution_flow.md
Owners: satoshi.tanaka@tier4.jp

fix(GLIP): apply formatter (#315)
  projects/GLIP/configs/flickr30k/glip_atss_swin-t_c_fpn_dyhead_pretrain_obj365-goldg_zeroshot_flickr30k.py
  projects/GLIP/configs/glip_atss_swin-l_fpn_dyhead_16xb2_ms-2x_funtune_coco.py
  projects/GLIP/configs/glip_atss_swin-l_fpn_dyhead_pretrain_mixeddata.py
  projects/GLIP/configs/glip_atss_swin-t_a_fpn_dyhead_16xb2_ms-2x_funtune_coco.py
  projects/GLIP/configs/glip_atss_swin-t_a_fpn_dyhead_pretrain_obj365.py
  projects/GLIP/configs/glip_atss_swin-t_b_fpn_dyhead_16xb2_ms-2x_funtune_coco.py
  projects/GLIP/configs/glip_atss_swin-t_b_fpn_dyhead_pretrain_obj365.py
  projects/GLIP/configs/glip_atss_swin-t_c_fpn_dyhead_16xb2_ms-2x_funtune_coco.py
  projects/GLIP/configs/glip_atss_swin-t_c_fpn_dyhead_pretrain_obj365-goldg.py
  projects/GLIP/configs/glip_atss_swin-t_fpn_dyhead_16xb2_ms-2x_funtune_coco.py
  projects/GLIP/configs/glip_atss_swin-t_fpn_dyhead_pretrain_obj365-goldg-cc3m-sub.py
  projects/GLIP/configs/lvis/glip_atss_swin-l_fpn_dyhead_pretrain_zeroshot_lvis.py
  projects/GLIP/configs/lvis/glip_atss_swin-l_fpn_dyhead_pretrain_zeroshot_mini-lvis.py
  projects/GLIP/configs/lvis/glip_atss_swin-t_a_fpn_dyhead_pretrain_zeroshot_lvis.py
  projects/GLIP/configs/lvis/glip_atss_swin-t_a_fpn_dyhead_pretrain_zeroshot_mini-lvis.py
  projects/GLIP/configs/lvis/glip_atss_swin-t_bc_fpn_dyhead_pretrain_zeroshot_lvis.py
  projects/GLIP/configs/lvis/glip_atss_swin-t_bc_fpn_dyhead_pretrain_zeroshot_mini-lvis.py
  projects/GLIP/configs/odinw/glip_atss_swin-t_a_fpn_dyhead_pretrain_odinw13.py
  projects/GLIP/configs/odinw/glip_atss_swin-t_a_fpn_dyhead_pretrain_odinw35.py
  projects/GLIP/configs/odinw/glip_atss_swin-t_bc_fpn_dyhead_pretrain_odinw13.py
  projects/GLIP/configs/odinw/glip_atss_swin-t_bc_fpn_dyhead_pretrain_odinw35.py
  projects/GLIP/configs/odinw/override_category.py
  projects/GLIP/glip/__init__.py
  projects/GLIP/glip/glip.py
Owners: samrat.thapa@tier4.jp

fix(scene_selector): apply formatter (#316)
  tools/scene_selector/configs/det2d_object_num_selector/yolox_l_object_number_sum.py
  tools/scene_selector/configs/model_rareness_example_mining/bevfusion_cl_transfusion_l.py
  tools/scene_selector/configs/open_vocab_2d_object_num_selector/glip_object_number_sum.py
  tools/scene_selector/image_selector.py
  tools/scene_selector/image_t4_dataset_selector.py
  tools/scene_selector/multimodal_t4_dataset_selector.py
  tools/scene_selector/scene_selector/__init__.py
  tools/scene_selector/scene_selector/base/image_based_scene_selector.py
  tools/scene_selector/scene_selector/base/multi_model_scene_selector.py
  tools/scene_selector/scene_selector/base/scene_selector.py
  tools/scene_selector/scene_selector/det2d_object_num_selector.py
  tools/scene_selector/scene_selector/open_vocab_2d_object_num_selector.py
  tools/scene_selector/scene_selector/uncertainty_based_scene_selector.py
  tools/scene_selector/scene_selector/uncertainty_methods/mrem_uncertainty_estimator.py
Owners: samrat.thapa@tier4.jp, satoshi.tanaka@tier4.jp

fix(BLIP-2, SwinTransformer, YOLOX): apply formatter (#317)
  projects/BLIP-2/demo.py
  projects/SwinTransformer/configs/_base_/mask-rcnn_r50_fpn.py
  projects/SwinTransformer/configs/_base_/schedule_1x.py
  projects/SwinTransformer/configs/coco/mask-rcnn_swin-s-p4-w7_fpn_amp-ms-crop-3x_coco.py
  projects/YOLOX/configs/yolox_l_8xb8-300e_coco.py
  projects/YOLOX/configs/yolox_m_8xb8-300e_coco.py
  projects/YOLOX/configs/yolox_s_8xb8-300e_coco.py
  projects/YOLOX/configs/yolox_tta.py
  projects/template/configs/nuscenes/template_1xb1-cyclic-20e_nus-3d.py
  pyproject.toml
Owners: satoshi.tanaka@tier4.jp

fix(tools/auto_label_3d): apply formatter (#291)
  tools/auto_labeling_2d/create_pseudo_t4dataset.py
  tools/auto_labeling_3d/attach_tracking_id/attach_tracking_id.py
  tools/auto_labeling_3d/create_info/create_data_non_annotated_t4dataset.py
  tools/auto_labeling_3d/create_info/create_info_data.py
  tools/auto_labeling_3d/create_info/inference.py
  tools/auto_labeling_3d/create_pseudo_t4dataset/create_pseudo_t4dataset.py
  tools/auto_labeling_3d/create_pseudo_t4dataset/pseudo_label_generator_3d.py
  tools/auto_labeling_3d/filter_objects/config/base.py
  tools/auto_labeling_3d/filter_objects/filter_objects.py
  tools/auto_labeling_3d/utils/logger.py
Owners: satoshi.tanaka@tier4.jp

fix(analysis_3d, classification2d, rerun_visualization): apply formatter (#318)
  pyproject.toml
  tools/analysis_3d/analysis_runner.py
  tools/analysis_3d/callbacks/callback_interface.py
  tools/analysis_3d/callbacks/category.py
  tools/analysis_3d/callbacks/category_attribute.py
  tools/analysis_3d/data_classes.py
  tools/analysis_3d/run.py
  tools/analysis_3d/split_options.py
  tools/analysis_3d/utils.py
  tools/classification2d/create_data_t4dataset.py
  tools/classification2d/deploy.py
  tools/classification2d/test.py
  tools/classification2d/train.py
  tools/rerun_visualization/visualize_3d_model.py
Owners: kokseang.tan@tier4.jp, samrat.thapa@tier4.jp, satoshi.tanaka@tier4.jp

fix(github): add comment about dataset_name to database.yaml created by update database_list.py (#298)
  .github/workflows/update_database_list.py
Owners: koji.minoda@tier4.jp, satoshi.tanaka@tier4.jp

fix: apply formatter (#319)
  .devcontainer/devcontainer.json
  .github/workflows/update_database_list.py
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  autoware_ml/configs/classification2d/dataset/t4dataset/tlr_v0_1.yaml
  autoware_ml/configs/classification2d/dataset/t4dataset/tlr_v1_0_x2.yaml
  autoware_ml/configs/classification2d/dataset/t4dataset/tlr_v1_0_xx1.yaml
  autoware_ml/configs/classification2d/dataset/t4dataset/tlr_v1_2.yaml
  projects/TransFusion/docs/TransFusion-L/v1/base.md
  projects/TransFusion/mmdeploy.patch
  pyproject.toml
  setup.py
  tools/auto_labeling_3d/Dockerfile
  tools/scene_selector/configs/model_rareness_example_mining/README.md
Owners: amadeusz.szymko.2@tier4.jp, satoshi.tanaka@tier4.jp, koji.minoda@tier4.jp, samrat.thapa@tier4.jp

chore(docs): update document (#321)
  docs/contribution/contribution_flow.md
  docs/tips/release_note.md
Owners: satoshi.tanaka@tier4.jp

chore(docs): update document (#322)
  docs/tips/release_note.md
Owners: satoshi.tanaka@tier4.jp

chore(autoware_ml_ros2): add autoware_ml_ros2 framework (#324)
  README.md
  tools/autoware_ml_ros2/README.md
  tools/autoware_ml_ros2/autoware_ml_detection2d/README.md
  tools/autoware_ml_ros2/autoware_ml_detection3d/README.md
  tools/autoware_ml_ros2/autoware_ml_segmentation3d/README.md
Owners: none

chore(autoware_ml): update to v0.6.0 (#325)
  autoware_ml/version.py
  docs/tips/release_note.md
Owners: satoshi.tanaka@tier4.jp

fix(CenterPoint): update webauto link for base/1.0 (#326)
  projects/CenterPoint/docs/CenterPoint/v1/base.md
Owners: kokseang.tan@tier4.jp

refactor(auto_labeling_3d): support t4-devkit v0.0.6 (#323)
  tools/auto_labeling_3d/Dockerfile
  tools/auto_labeling_3d/create_pseudo_t4dataset/create_pseudo_t4dataset.py
  tools/auto_labeling_3d/create_pseudo_t4dataset/pseudo_label_generator_3d.py
Owners: satoshi.tanaka@tier4.jp

chore(docs): update dataset document (#312)
  docs/design/architecture_dataset.md
  docs/tips/release_note.md
  pipelines/update_t4dataset/README.md
Owners: satoshi.tanaka@tier4.jp
